@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");
:root{
  --color-cervena:rgb(239, 58, 58);
}


html {
  background-image: url(foto/bg.jpg);
  background-attachment: fixed;
}

h1,
h2,
th {
  font-family: "Alkatra", cursive;
}

td,
p, a {
  font-family: "Kanit", sans-serif;
}

#container{
  width: 1200px;
  background-color: rgba(145, 145, 145, 0.723);
  margin: 0 auto;
  align-items: center;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "aside"
  "footer";
}

header{
  background-color: aliceblue;
  grid-area: header;
  width: 1150px;
  margin: 0 auto;
  max-height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

header h1{
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin: 0.1em;
}

header h1 img{
  max-width: 2em;
  vertical-align: -0.4em;
}

#container > nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-area: nav;
  width: 95%;
  margin: 0 auto;
  background-color: var(--color-cervena);
}

#container > nav a{
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  padding: 0.5em 2em;
  font-size: 1.5em;
}

#container > nav a img{
  max-width: 1em;
  vertical-align: -0.1em;
}

.menu-subitem{
  display: none;
}

main{
  grid-area: main;
  margin: 0 auto;
}

#uvod{
  text-align: left;
  margin-left: 15px;
  width: 95%;
  display: block;
}


#restaurace{
  margin: 0 auto;
  display: block;
  width: 600px;
}

.row{
  display: flex;
}

.row h2{
  margin-left: 250px;
  font-size: 35px;
  margin-bottom: 1em;
}

.calendar{
  height: 120px;
  width: 220px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
}



.left, .right{
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right{
  width: 42%;
  background: black;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#date{
  font-weight: 800;
}

.left{
  width: 58%;
}

#speciality{
  background-color: var(--color-cervena);
  max-width: 1150px;
  margin: 0 auto;
  font-size: 1.5em;
  color: aliceblue;
}

#speciality table{
  margin: 0 auto;
}

#speciality table td:first-child {
  padding-right: 13em;
}

aside{
  grid-area: aside;
}

footer{
  grid-area: footer;
  padding: 10px;
  font-weight: 600;
}

@media only screen and (max-width: 700px){
  #container{
    width: 100%;
  }

  header{
    width: 100%;
  }

  #container > nav{
    width: 100%;
  }

  #container > nav a{
    font-size: 1.2em;
  }

  #container > nav a img{
    max-width: 1.2em;
  }

  #uvod{
    width: 100%;
  }

  #restaurace{
    width: 100%;
  }

  .row h2{
    margin-left: 0px;
    font-size: 25px;
  }

  .calendar{
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100px;
    font-size: 15px;
  }

  .right{
    width: 100%;
  }

  .left{
    width: 100%;
  }

  #speciality{
    font-size: 1em;
  }

  #speciality table td:first-child {
    padding-right: 0em;
  }

  .mapa{
    width: 100%;
  }

  .fotoodkaz
  {
    visibility: hidden;
    display: none;
    
  }

  .Img{
    width: 100%;
  }


}

.konec{
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: 600;
}




